@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-principal: #FFFFFF;
    --cor-destaque: #9F0303;
    --cor-destaque-cinza: #323232;

    --fonte-principal: "Bebas Neue", sans-serif;
    --fonte-secundaria: "Saira", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: var(--cor-primaria);
    color: var(--cor-principal);
}

.cabecalho {
    padding: 3% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 70px;
}

.cabecalho__menu__link {
    text-decoration: none;
    color: var(--cor-principal);
    font-family: var(--fonte-principal);
    font-size: 1.56rem;
}

.cabecalho__menu__link:hover {
    color: var(--cor-destaque);
}

.apresentacao {
    padding: 5% 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
}

.apresentacao__conteudo {
    width: 50%;
}

.apresentacao__imagem {
    width: 50%;
    max-width: 350px;
    height: auto;
}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-principal);
    font-size: 2.5rem;
}

.apresentacao__conteudo__titulo span {
    display: block;
}

.titulo-destaque-cinza {
    color: var(--cor-destaque-cinza);
    font-family: var(--fonte-secundaria);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
}

.titulo-destaque-vermelho {
    color: var(--cor-destaque);
}

.apresentacao__conteudo__paragrafo {
    font-family: var(--fonte-secundaria);
    font-size: 1.37rem;
    font-weight: 300;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 20px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-secundaria);
    font-size: 1.25rem;
    font-weight: 400;
}

.apresentacao__links__botao {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 8px;
    text-decoration: none;
    color: var(--cor-principal);
    font-family: var(--fonte-principal);
    font-size: 1.37rem;
    border: 2px solid var(--cor-destaque);
    width: 100%;
    max-width: 250px;
    border-radius: 12px;
    padding: 8px;
}

.apresentacao__links__botao:hover {
    background-color: var(--cor-principal);
    color: var(--cor-primaria);
}

.rodape {
    display: flex;
    justify-content: center;
    background-color: var(--cor-destaque);
    padding: 20px;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    text-align: center;
}

@media (max-width: 1100px) {
    .cabecalho {
        padding: 3%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column;
        justify-content: center;
    }

    .apresentacao__conteudo {
        width: auto;
        text-align: center;
    }
}